@tailwind base;
@tailwind components;
@tailwind utilities;

/*
#tm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height: 3vh;
    background: #d9d9d9;
}
    */

#tm.tm-enabled {
    background: #e5ff00b6;
}

.tm-enabled svg path {
    fill: red;
}

/*
#tm svg {
    vertical-align: bottom;
    padding-left: 1vw;
}
*/